body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: #686868;
	background: url('http://i.imgur.com/zxkmCo1.png') center center fixed, url('http://i.imgur.com/Kax1kSS.jpg') center center no-repeat fixed; 
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-size: auto, cover;
}

#wrapped {
	width: 1000px;
	margin: 100px auto;
}

ul.nav, .main {
	position: relative;
	background: #fff;
	float: left;
	padding: 0;
	margin: -41px 20px;
	list-style: none;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.main {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#side {
	width: 250px;
}

ul.nav {
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.nav, ul.tabs {
	position: relative;
	margin: 0;
	padding: 0;
}

.nav li a {
	width: 225px;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #686868;		
}
.nav li:hover > a.remove{
	display: block;
}
.nav li a.remove{
	float: right;
	width: 10px !important;
	margin-top: -50px;
	text-align: center;
	border: 0 !important;
	padding: 0 10px !important;
	display: none;
	font-weight: 600;
	color: #f00;
}


.nav li a:hover {
	background: #efefef;
}

.nav li.selected a {
	background: #efefef;
}

.nav li:nth-child(3n+1) a, tr:nth-child(3n+1):hover {
	border-left:5px solid #008747;
}

.nav li:nth-child(3n+2) a, tr:nth-child(3n+2):hover {
	border-left:5px solid #fecf54;
}

.nav li:nth-child(3n+3) a, tr:nth-child(3n+3):hover  {
	border-left:5px solid #cf2130;
}

.nav li:last-child a, tr:last-child:hover  {
	border-left:5px solid #dde2d5 !important;
}

.nav li:last-child a:hover, .nav li:last-child a {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

table, th, td {
	border-collapse:collapse;
}

th, td {
	padding: 14px;
	border: none;
	overflow: hidden;
	position: relative;
}

tr:last-child td {
	padding: 0 14px;
}

table {
	width: 700px;
}

tr {
	border-left: 5px solid transparent;
}

tr:hover {
	background: #eee !important;
}

tr:nth-child(even) {
	background: #f7f7f7;list-style: none;
}

.tab-page {
    display:none;
}

.active-page {
    display: block;
}

td.remove{
	width: 10px;
}
.remove a{
 	content: url('../img/remove.svg');
  	width: 25px;
  	opacity: 0.3;
}
.remove a:hover{
	content: url('../img/remove_act.svg');
 	opacity: 1;
}

iframe{
	width: 100%;
	height: 600px;
	margin-bottom: -5px;
	border: 0;
}

.add {
 	content: url('../img/add.svg');
}

.add:hover {
 	content: url('../img/add_act.svg');
}

.item{
	margin: 0 auto;
  	width: 100%;
  	height: 60px;
  	display: block;
}

.banner {
	width: 190px;
}

.name {
	width: 250px;
}

#addItem{
	height: 50px;
	width: 0px !important;
	overflow: hidden;
	transition: width 1s;
	position: absolute;
	white-space: nowrap;
	background: rgb(247, 247, 247);
	left: 0;
}

#addItem.shown{
	width: 100% !important;
	padding: 8px;
}

#addItem input[type] {
	margin-right: 10px;
}

#addItem > input[name=banner], #addItem > input[name=url] {
	width: 150px;
}

#addItem > input[name=name] {
	width: 180px;
}

#addItem > input[name=release] {
	width: 115px;
}

#addItem > input[name=col1].large {
	width: 635px;
}
#addItem > input[name=col1] {
	width: 310px;
}
#addItem > input[name=col2] {
	width: 310px;
}

#addList{
	height: 50px;
	width: 0px !important;
	overflow: hidden;
	transition: width 1s;
	position: absolute;
	white-space: nowrap;
	background: rgb(247, 247, 247);
	left: 5px;
	z-index: 1;
}
#addList.shown{
	width: 100% !important;
	padding: 3px;
}

#addList > input[name=name] {
	width: 150px;
}

#addList > input[name=type] {
	width: 50px;
}

button{

}

input[type="text"], input[type="date"], input[type="url"], input[type="number"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font-size: 16px;
	height: 45px;
}

/*Lots of code for fancy tabs*/

.tabs li { 
	float: left; 
	position: relative;
	list-style: none;
}

.tabs li:nth-child(1) a {
	padding: 10px 0;
	width: 34px;
} 

.tabs a { 
	float: left;
	padding: 10px 0; 
	width: 108px;
	text-align: center;
	text-decoration: none;
	color: #444;
	background: #d5d5d5; 
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: 600;
}

.tabs a:hover {
	background: #e5e5e5;
}

.tabs .active {
	z-index: 3;
}

.tabs .active a { 
	background: #fff; 
	color: #222; 
}

.tabs li:before, .tabs li:after, 
.tabs li a:before, .tabs li a:after {
	position: absolute;
	bottom: 0;
}

.tabs .active:before, .tabs .active:after {
	background: white; 
	z-index: 1;
}

.tabs li a:after, .tabs li a:before {
	width: 20px; 
	height: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius:	10px;
	border-radius:	 10px;
	background: #222;	
	z-index: 2;
}
.tabs .active a:after, .tabs .active a:before {
	background: #ddc385;
}

.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
	background: #222;
}
.tabs li a:before {
	left: -20px;
}
.tabs li a:after {
	right: -20px;
}

/*-----------------*/