Options -Indexes
RewriteEngine On

# Block access to .htaccess
####################################
<Files ~ "^.*\.([Hh][Tt][Aa])">
    order Allow,Deny
    deny from all
    satisfy all
</Files>

# Remove index.php
#####################
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteCond %{REQUEST_URI} !/system/.* [NC]
RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

# Allows us to have GET params without the Ugly....
###################################################
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^([^/]*)$ /?u=$1 [NC,L]